*::selection {
    color: #FFFFFF;
    background-color: #F3603B;
}

body {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    background-color: #FFFFFF;
    font-family: 'Be Vietnam Pro', sans-serif;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 2% 10%;
}

header #navbar {
    width: 40%;
}

header #navbar nav ul {
    display: flex;
    justify-content: space-between;
    list-style: none;
}

header #navbar nav ul a {
    text-decoration: none;
    color: #242E52;
}

header #navbar nav ul a:hover {
    color: #8C8C94;
}

.button {
    text-decoration: none;
    color: #FFFFFF;
    padding: 10px;
    background-color: #F3603B;
    border-radius: 50px;
}

.button:hover {
    background-color: #F3603B70;
}

main {
    margin: 0 10%;
}

#banner-container {
    display: flex;
    justify-content: space-between;
    margin: 7% 0;
}

#banner-container #banner1 {
   width: 38%;
}

#banner-container #banner1 h1 {
    color: #232C50;
    font-size: 58px;
    margin: 7% 0;
    font-weight: 700;
}

#banner-container #banner1 p {
    margin-bottom: 7%;
}

#banner-container #banner2 {
    width: 40%;
}

#about {
    display: flex;
    justify-content: space-between;
    margin-bottom: 10%;
}

#about h2 {
    color: #232851;
    font-size: 36px;
}

#about #about-manage {
    width: 45%;
}

#about #list {
    width: 42%;
    display: flex;
    flex-direction: column;
}

#about #list .item .title-number {
    display: flex;
    align-items: center;
}

#about #list .item .title-number h3 {
    color: #323851;
}

#about #list .item .title-number .number-item {
    margin-right: 15px;
    background-color: #F3603B;
    color: #FFFFFF;
    border-radius: 30px;
    padding: 10px 25px;
} 

#about #list .item p {
    color: #B3B2B7;
    position: relative;
    left: 13.8%;
}

#feedback {
    margin-bottom: 10%;
}

#feedback h2{
    text-align: center;
    color: #242E53;
    margin-bottom: 5%;
    font-size: 36px;
}

#feedback #card-container {
    display: flex;
    justify-content: space-around;
}

#feedback .button-container {
    text-align: center;
    margin-top: 5%;
}

#feedback #card-container .card {
    text-align: center;
    background-color: #FAFAFA;
}

#feedback #card-container .card h3 {
    color: #3F4868;
}

#feedback #card-container .card p {
    color: #B9B9C1;
    margin: 5%;
}

#join {
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: #F3613C;
    padding: 40px;
}

#join h2 {
    color: #FFFFFF;
    font-size: 40px;
}

#join #button-white {
    text-decoration: none;
    color: #F3603B;
    padding: 10px;
    background-color: #FFFFFF;
    border-radius: 50px;
}

#join #button-white:hover {
    background-color: #FFFFFF70;
}

footer {
    display: flex;
    justify-content: space-around;
    background-color: #1E1E26;
    padding: 4% 40px;
}

footer #contact-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

footer #contact-container #contact {
    display: flex;
    justify-content: space-around;
    width: 110%;
}

footer #contact-container #contact a i{
    color: #FFFFFF;
    font-size: 22px;
}

footer #contact-container #contact a i:hover {
    color: #F3613C;
}

footer .footer-nav ul{
    height: 100%;
    list-style: none;
    color: #FFFFFF;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

footer .footer-nav ul li a{
    text-decoration: none;
    color: #FFFFFF;
}

footer .footer-nav ul li a:hover {
    color: #F3603B;
}

footer #form {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

footer #form #input-text {
    padding: 10px;
    border-radius: 50px;
    outline: none;
    border: none;
}

footer #form #input-submit {
    padding: 10px;
    color: #FFFFFF;
    background-color: #F3603B;
    outline: none;
    border: none;
    border-radius: 50px;
    cursor: pointer;
}

footer #form #input-submit:hover {
    background-color: #F3603B70;
}

footer #form p {
    color: #8C8C94;
    font-size: 13px;
}